<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Main Page</title>
        {% load staticfiles %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'login/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'toys/css/toys.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'login/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'toys/js/toys.js' %}"></script>
        <div id="wrapper">
            <nav>
              <div class="nav-wrapper blue-grey lighten-1 hoverable" id="header">
                <a href="#!" class="brand-logo left"><span id="logo">Toys X Change</span></a>
                <div id="logout">
                    <div class="row">
                        <div class="col s2 right" >
                            <button id="logout_button" class="btn waves-effect blue" type="submit" name="action"><a href='{%  url 'login:logout' %}'>Logout</a></button>
                        </div>
                    </div>
                </div>

              </div>
            </nav>
            <h3 class="center" id="greet">{{request.session.first_name}}, you can upload the toy pictures in this page.</h3>

            <form action='{% url 'toys:image' id=id %}' method='post' enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="row">
                    <div class="col s3"></div>
                  <div class="col s6 center">
                      <div class="file-field input-field">
                          <div class="btn">
                              <span>Toy Picture</span>
                              <input type="file" name="image">
                          </div>
                          <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                          </div>
                    </div>
                  </div>
               </div>
               <div class="row">
                   <div class="input-field col s4"></div>
                   <div class="col s2" >
                       <button id="login_button" class="btn waves-effect blue" type="submit" name="action">Upload
                           <i class="material-icons right">done</i>
                       </button>
                   </div>
                   <div class="col s2" >
                       <a class="waves-effect blue btn" href='{% url 'toys:goback' %}'><i class="material-icons right">reply</i>Go Back</a>
                   </div>
                </div>
            </form>


            <div class="fixed-action-btn horizontal">
              <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
              </a>
              <ul>
                <li><a class="btn-floating red" href='{% url 'login:logout' %}'><i class="material-icons">exit_to_app</i></a></li>
                <li><a class="btn-floating yellow darken-1" href='{% url 'toys:goback' %}'><i class="material-icons">reply</i></a></li>
                <li><a class="btn-floating blue" href='{% url 'toys:goto' %}'><i class="material-icons">attach_file</i></a></li>
                <li><a class="btn-floating green" href="#top"><i class="material-icons">publish</i></a></li>
              </ul>
            </div>

            <footer class="page-footer blue-grey lighten-1  hoverable" id="bottom">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Toys X Change</h5>
                    <p class="grey-text text-lighten-4">Need to get rid of your kids old toys? Toys X change is the service that connects toys swappers together.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">How It Works</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Contacts</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Terms of Service</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2017 Copyright J.Z.  All Rights Reserved
                <a class="grey-text text-lighten-4 right" href="#!">Customer Service</a>
                </div>
              </div>
            </footer>
        </div>
    </body>
</html>
