<!-- Create by Jian Zhang @ Coding Dojo, on 02/26/2017 -->
<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'toys/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'toys/css/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>

        </style>
    </head>

    <body>
        <script type="text/javascript" src="{% static 'toys/js/materialize.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
            Materialize.toast('Who is your daddy?', 4000)
        </script>

        <div id="wrapper">

            <nav>
              <div class="nav-wrapper">
                <a href="#" class="brand-logo">Toy X Change</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li>
                      <div class="input-field col s6">
                          <input placeholder="username" id="username" type="text" class="validate">
                          <label for="username">username</label>
                      </div>
                  </li>
                  <li>
                      <div class="input-field col s6">
                          <input placeholder="passowrd" id="password" type="text" class="validate">
                          <label for="password">password</label>
                      </div>
                  </li>
                  <li>
                      <div class="input-field col s6" id="subtmit">
                          <input type="submit" class="validation" value="Login" />
                      </div>
                  </li>
                </ul>
              </div>
            </nav>


            <div>
                This is the content

                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </div>

            <footer class="page-footer">
             <div class="container">
               <div class="row">
                 <div class="col l6 s12">
                   <h5 class="white-text">Footer Content</h5>
                   <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                 </div>
                 <div class="col l4 offset-l2 s12">
                   <h5 class="white-text">Links</h5>
                   <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                   </ul>
                 </div>
               </div>
             </div>
             <div class="footer-copyright">
               <div class="container">
               © 2017 Copyright Resered J.Z.
               <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
               </div>
             </div>
           </footer>
        </div>
    </body>
</html>
