<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Toys X Change - Main Page</title>
        {% load staticfiles %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'login/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'toys/css/toys.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            #toy_name{
                color:black;
                font-size: 35px;
            }
            .txt{
                font-size: 25px;
            }
            .item{
                color:black;
            }
        </style>
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'login/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'toys/js/toys.js' %}"></script>
        <div id="wrapper">
            <a name="top"></a>
            <nav>
              <div class="nav-wrapper blue-grey lighten-1 hoverable" id="header">
                <a href="#!" class="brand-logo left"><span id="logo">Toys X Change</span></a>
                <div id="logout">
                    <div class="row">
                        <div class="col s2 right" >
                            <button id="logout_button" class="btn waves-effect red" type="submit" name="action"><a href='{%  url 'login:logout' %}'>Logout</a></button>
                        </div>
                        <div class="col s2 right" >
                              <a class='dropdown-button btn blue' href='#' data-activates='dropdown1'>Toys by Category</a>
                              <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="{% url 'toys:category' category='Action Figures' %}">Action Figures</a></li>
                                <li><a href="{% url 'toys:category' category='Video Games' %}">Video Games</a></li>
                                <li><a href="{% url 'toys:category' category='Legos' %}">Legos</a></li>
                                <li><a href="{% url 'toys:category' category='Dolls' %}">Dolls</a></li>
                                <li><a href="{% url 'toys:category' category='Cars' %}">Cars</a></li>
                                <li><a href="{% url 'toys:category' category='Bikes' %}">Bikes</a></li>
                              </ul>
                        </div>
                    </div>
                </div>

              </div>
            </nav>
            <h3 class="center" id="greet">Hello, <i>{{request.session.first_name}}</i> ! Welcome to the posting board!</h3>
            <br />
            <div id="new">
                <div class="row">
                    <div class="col s4" >

                    </div>
                    <div class="col s2" >
                        <a class="waves-effect blue btn" href='{% url 'toys:goto' %}'>Create A New Post</a>
                    </div>
                    <div class="col s2" >
                        <a class="waves-effect orange darken-1 btn" href='{% url 'toys:user_all' id=request.session.user_id %}'>See My Own Posts</a>
                    </div>
                </div>
            </div>


       <div class="row">
               {% for toy in toys %}
           <div class="col s12 m6">
             <div class="card light-blue hoverable">
               <div class="card-content white-text">
                   <h3 id="toy_name" class="card-title center-align">Toy Name: <i>{{toy.name}}</i></h3>
                   <br />
                   <div class="row">
                       <div class="col s5" >
                           <h3 class="card-title black-text">Seller Name: {{toy.user.first_name}}</h3>
                       </div>
                       <div class="col s2 right" >
                           <a class="waves-effect orange darken-1 btn" href='{% url 'toys:user_all' id=toy.user_id %}'>View</a>
                       </div>
                       <div class="col s3 right" >
                           <p>Click this button to view other posts of this user.</p>
                       </div>
                 </div>
                 <div class="divider"></div>
                 <br />
                 {% if request.session.user_id == toy.user_id %}
                 <a class="btn-floating waves-effect waves-light yellow right" href='{% url 'toys:goto_edit' id=toy.id %}'><i class="material-icons">mode_edit</i>Edit</a>
                 <a class="btn-floating fab waves-effect waves-light green right" href='{% url 'toys:add' id=toy.id %}'><i class="material-icons">add</i>Add Photo</a>
                 <a class="btn-floating fab waves-effect waves-light red right" href='{% url 'toys:delete' id=toy.id %}'><i class="material-icons">delete</i>Delete</a>
                 {% endif %}
                 <p class="txt"><span class="item">[ Toy ID ]:</span> &nbsp;{{toy.id}}</p>
                 <p class="txt"><span class="item">[ Original MSRP ]:</span> &nbsp;{{toy.msrp}}</p>
                 <p class="txt"><span class="item">[ Asking Price ]:</span> &nbsp;${{toy.price}}</p>
                 <p class="txt"><span class="item">[ For Age Group ]:</span> &nbsp;{{toy.age}}</p>
                 <p class="txt"><span class="item">[ Category ]:</span> &nbsp;{{toy.category}}</p>
                 <p class="txt"><span class="item">[ Condition ]:</span> &nbsp;{{toy.condition}}</p>
                 <p class="txt"><span class="item">[ Comments ]:</span> &nbsp;{{toy.text}}</p>
                 <p class="txt"><span class="item">[ Contact This User by Email ]:</span> &nbsp;<u>{{toy.user.email}}</u></p>
                 <p class="txt"><span class="item">[ Posted at ]:</span> &nbsp;{{toy.created_at}}</p>
                 <br/>
                 {% for image in images %}
                 {% if image.toy_id == toy.id %}
                 <div class="divider"></div>
                 <br/>
                 <img src="../media/{{image.img}}" />
                 {% endif %}
                 {% endfor %}
                 <br/>
                 <div class="divider"></div>
                 <br/>
                 <p class="txt">This toy is located at zipcode: {{toy.zipcode}}.</p>
                 <br/>
                 <img src="https://maps.googleapis.com/maps/api/staticmap?center={{toy.zipcode}}&zoom=12&size=600x400&markers=color:red%7C{{toy.zipcode}}&key=AIzaSyDFnW8QKPeWixw3nC4w2vkdRWZ4v3wQDfY" />
                </br/>
               </div>
             </div>
           </div>
           {% endfor %}
       </div>


       <div class="fixed-action-btn horizontal">
         <a class="btn-floating btn-large red">
           <i class="large material-icons">menu</i>
         </a>
         <ul>
           <li><a class="btn-floating red" href='{% url 'login:logout' %}'><i class="material-icons">exit_to_app</i></a></li>
           <li><a class="btn-floating yellow darken-1" href='{% url 'toys:goback' %}'><i class="material-icons">reply</i></a></li>
           <li><a class="btn-floating blue" href='{% url 'toys:goto' %}'><i class="material-icons">mode_edit</i></a></li>
           <li><a class="btn-floating green" href="#top"><i class="material-icons">publish</i></a></li>
         </ul>
       </div>

            <footer class="page-footer blue-grey lighten-1  hoverable" id="bottom">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Toys X Change</h5>
                    <p class="grey-text text-lighten-4">Need to get rid of your kids old toys? Toys X change is the service that connects toys swappers together.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">How It Works</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Contacts</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Terms of Service</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2017 Copyright J.Z.  All Rights Reserved
                <a class="grey-text text-lighten-4 right" href="#!">Customer Service</a>
                </div>
              </div>
            </footer>
        </div>
    </body>
</html>
