<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Toys X Change - Create New Post</title>
        {% load staticfiles %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'login/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'toys/css/toys.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'login/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'toys/js/toys.js' %}"></script>
        <div id="wrapper">
            <nav>
              <div class="nav-wrapper blue-grey lighten-1 hoverable" id="header">
                <a href="#!" class="brand-logo left"><span id="logo">Toys X Change</span></a>
                <div id="logout">
                    <div class="row">
                        <div class="col s2 right" >
                            <button id="logout_button" class="btn waves-effect red" type="submit" name="action"><a href='{%  url 'login:logout' %}'>Logout</a></button>
                        </div>
                        <div class="col s2 right" >
                              <a class='dropdown-button btn blue' href='#' data-activates='dropdown1'>Toys by Category</a>
                              <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="{% url 'toys:category' category='Action Figures' %}">Action Figures</a></li>
                                <li><a href="{% url 'toys:category' category='Video Games' %}">Video Games</a></li>
                                <li><a href="{% url 'toys:category' category='Legos' %}">Legos</a></li>
                                <li><a href="{% url 'toys:category' category='Dolls' %}">Dolls</a></li>
                                <li><a href="{% url 'toys:category' category='Cars' %}">Cars</a></li>
                                <li><a href="{% url 'toys:category' category='Bikes' %}">Bikes</a></li>
                              </ul>
                        </div>
                    </div>
                </div>

              </div>
            </nav>
            <h3 class="center" id="greet">{{request.session.first_name}}, CREATE a new post for your toy.</h3>

            <form action='{% url 'toys:create' %}' method='post'>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s3"></div>
                    <div class="input-field col s2">
                          <div class="input-field inline">
                            <i class="material-icons prefix">android</i>
                            <input id="name" type="text" class="validate" name="name">
                            <label for="name">Toy's Name</label>
                          </div>
                    </div>
                    <div class="input-field col s2">
                          <div class="input-field inline">
                            <i class="material-icons prefix">payment</i>
                            <input id="price" type="text" class="validate" name="price">
                            <label for="price">Listing Price</label>
                          </div>
                    </div>
                    <div class="input-field col s2">
                          <div class="input-field inline">
                            <i class="material-icons prefix">room</i>
                            <input id="zip" type="text" class="validate" name="zipcode">
                            <label for="zip">Location Zipcode</label>
                          </div>
                    </div>
                    <div class="input-field col s3"></div>
                </div>

                <div class="row">
                    <div class="input-field col s3"></div>
                    <div class="input-field col s3">
                        <select name="msrp">
                          <option value="">Choose your toys's original MSRP</option>
                          <option value="Under $10">Under $10</option>
                          <option value="$10 - $20">$10 - $20</option>
                          <option value="$20 - $30">$20 - $30</option>
                          <option value="$30 - $40">$30 - $40</option>
                          <option value="$40 - $50">$40 - $50</option>
                          <option value="$50 - $100">$50 - $100</option>
                        </select>
                        <label>Toy's MSRP</label>
                    </div>
                    <div class="input-field col s3">
                        <select name="age">
                          <option value="">Choose your toys's age group</option>
                          <option value="For Babies (0-2 years)">For Babies (0-2 years)</option>
                          <option value="For Toddlers (2-3 years)">For Toddlers (2-3 years)</option>
                          <option value="For Preschoolers (3-5 years)">For Preschoolers (3-5 years)</option>
                          <option value="For Grade Schoolers (5-12 years)">For Grade Schoolers (5-12 years)</option>
                          <option value="For Adults">For Adults</option>
                          <option value="General Age Group">General</option>
                        </select>
                        <label>Toy's Age Group</label>
                    </div>
                    <div class="input-field col s3"></div>
                </div>

                <div class="row">
                    <div class="input-field col s3"></div>
                    <div class="input-field col s3">
                        <select name="category">
                          <option value="">Choose your toys's category</option>
                          <option value="Action Figures">Action Figures</option>
                          <option value="Video Games">Video Games</option>
                          <option value="Dolls">Dolls</option>
                          <option value="Legos">Legos</option>
                          <option value="Cars">Cars</option>
                          <option value="Bikes">Bikes</option>
                        </select>
                        <label>Toy's Category</label>
                    </div>
                    <div class="input-field col s3">
                        <select name="condition">
                          <option value="">Choose your toys's Condition</option>
                          <option value="Brand New">Brand New</option>
                          <option value="Like New In Box">Like New In Box</option>
                          <option value="Gently Used">Gently Used</option>
                          <option value="Used">Used</option>
                          <option value="Needs Repairs">Needs Repairs</option>
                          <option value="For Parts...">For Parts...</option>
                        </select>
                        <label>Toy's Condition</label>
                    </div>
                    <div class="input-field col s3"></div>
                </div>
                <div class="row">
                    <div class="input-field col s3"></div>
                   <div class="input-field col s6">
                     <textarea id="textarea1" name="text" class="materialize-textarea"></textarea>
                     <label for="textarea1">Description</label>
                   </div>
                   <div class="input-field col s3"></div>
                </div>

                <div id="messages" class="center-align red-text">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="input-field col s3"></div>
                    <div class="col s3" >
                        <button id="login_button" class="btn waves-effect blue" type="submit" name="action">Post my toy
                            <i class="material-icons right">done</i>
                        </button>
                    </div>
                    <div class="col s3" >
                        <a class="waves-effect blue btn" href='{% url 'toys:goback' %}'><i class="material-icons right">reply</i>Go Back</a>
                    </div>
                </div>
            </form>

            <div class="fixed-action-btn horizontal">
              <a class="btn-floating btn-large red">
                <i class="large material-icons">menu</i>
              </a>
              <ul>
                <li><a class="btn-floating red" href='{% url 'login:logout' %}'><i class="material-icons">exit_to_app</i></a></li>
                <li><a class="btn-floating yellow darken-1" href='{% url 'toys:goback' %}'><i class="material-icons">reply</i></a></li>
                <li><a class="btn-floating blue" href='{% url 'toys:goto' %}'><i class="material-icons">mode_edit</i></a></li>
                <li><a class="btn-floating green" href="#top"><i class="material-icons">publish</i></a></li>
              </ul>
            </div>

            <footer class="page-footer blue-grey lighten-1  hoverable" id="bottom">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Toys X Change</h5>
                    <p class="grey-text text-lighten-4">Need to get rid of your kids old toys? Toys X change is the service that connects toys swappers together.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">How It Works</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Contacts</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Terms of Service</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2017 Copyright J.Z.  All Rights Reserved
                <a class="grey-text text-lighten-4 right" href="#!">Customer Service</a>
                </div>
              </div>
            </footer>
        </div>
    </body>
